# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignorar diretórios parent fora do projeto
../server/
../../.Trash/
../../.CFUserTextEncoding
../../.DS_Store
../../.amplify/
../../.aws/
../../.cache/
../../.config/
../../.docker/
../../.gitconfig
../../.ionic/
../../.lesshst
../../.local/
../../.npm/
../../.oh-my-zsh/
../../.p10k.zsh
../../.ssh/
../../.viminfo
../../.vscode/
../../.zsh_sessions/
../../.zshrc
../../Applications/
../../Desktop/
../../Downloads/
../../Library/
../../Movies/
../../Music/
../../Pictures/
../../Public/
